@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

/*
font-family: 'Roboto Condensed', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

p {
    font-size: 20px;
    text-align: justify;
}

body {
    background-color: #f4f4f4;
}

.footer p {
    margin-bottom: 0;
}

.titles {
    height: 8rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-transform: uppercase;
    padding: 0 40px;
}

.titles h2 {
    font-size: 3rem;
    color: #092d69;
    align-self: center;
}

.avatar {
    .img {
        border-radius: 50%;
        height: 25px;
    }
}

.error-label {
    color: red;
}

.navbar img {
    width: 100px;
    height: 25px;
    object-fit: cover;
}

.navbar-nav img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.navbar-custom {
    background-color: #3393ff;
}

.offcanvas {
    background-color: #3393ff;
}

.offcanvas-body ul li a {
    text-decoration: none;
    background-color: #3393ff;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
}

.offcanvas-body a:hover {
    background-color: #1e7fe6;
    color: #000000;
}

.dropdown-menu {
    background-color: #3393ff;
    color: #000000;
}

.dropdown-item:hover {
    background-color: #1e7fe6;
    color: #000000;
}

.form-control {
    border-color: #1e7fe6;
}

.form-control:hover {
    background-color: #FFFFFF;
}

table,
th,
td,
tr {
    border: 1px solid #092d69;
    border-collapse: collapse;
    transition: 0.4s;
    text-align: center;
}

.table th {
    background-color: #3393ff;
}

tr:hover {
    background-color: #eeeded;
}

th {
    background-color: #e7aa3d;
    color: #092d69;
}
