<!DOCTYPE html>
<html lang="en">
<head>
    {{{headMeta}}}
</head>

<body>
<header>
    {{{customAdministrationNavbar}}}
</header>

<main>

    <section class="titles justify-content-center">
        <h2 class="title">Registrarse</h2>
    </section>
    <section class="container">
        <form class="row g-3 py-2" method="post" action="/register-user">
            <div class="col-md-6">
                <label for="name" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" name="name"/>
            </div>
            <div class="col-md-6">
                <label for="lastname" class="col-form-label">Apellido:</label>
                <input type="text" class="form-control" name="lastname"/>
            </div>
            <div class="col-md-6">
                <label for="email" class="col-form-label">Email:</label>
                <input type="text" class="form-control" name="email"/>
            </div>
            <div class="col-md-6">
                <label for="telephone" class="col-form-label">Teléfono:</label>
                <input type="text" class="form-control" name="telephone"/>
            </div>
            <div class="col-md-6">
                <label for="username" class="col-form-label">Usuario:</label>
                <input type="text" class="form-control" name="username"/>
            </div>
            <div class="col-md-6">
                <label for="password" class="col-form-label">Contraseña:</label>
                <input type="password" class="form-control" name="password"/>
            </div>
            <div class="d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-custom">Registrarse</button>
            </div>
        </form>
    </section>

</main>

<footer>
</footer>
{{{scripts}}}
</body>
</html>