<!DOCTYPE html>
<html lang="en">
<head>
    {{{headMeta}}}
</head>

<body>
<header>
    {{{customAdministrationNavbar}}}
</header>

<main>

    <section class="px-2">
        <div class="">
            <p>
                En proceso de construcción...
            </p>
        </div>
    </section>
</main>

<footer>
</footer>
{{{scripts}}}
</body>
</html>