<nav class="navbar navbar-dds navbar-expand-md">
    <div class="container-fluid">
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-start flex-grow-1 pe-1">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                            Parametria
                        </a>
                        {{#if (hasAdminAccess user.authorizationRole)}}
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/users">Comunidades</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/users">Miembros</a>
                                </li>
                            </ul>
                        {{/if}}
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                            Administrar
                        </a>
                        {{#if (hasAdminAccess user.authorizationRole)}}
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="/users">Usuarios</a>
                                </li>
                            </ul>
                        {{/if}}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Administrar Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/entities">Administrar Entidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service-holders">Administrar Grupos Entidades</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-2">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="px-2">{{user.username}}</span>
                            <img src="/avatar.png" class="navbar-nav-avatar" alt="User-Profile-Image">
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/logout">Cerrar sesión</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>