<!DOCTYPE html>
<html lang="en">
<head>
    {{{headMeta}}}
</head>

<body>
<header>
    {{{customHomeNavbar}}}
</header>

<main>
    <div class="d-flex justify-content-end p-2">
        <legend class="">{{title}}</legend>
    </div>
    <section class="px-2">
        <div class="d-flex justify-content-center gap-2">
            <button class="btn btn-custom"><a href="/rankings">Tiempo de Cierre</a></button>
            <button class="btn btn-custom"><a href="/rankings">Cantidad de Incidentes</a></button>
            <button class="btn btn-custom"><a href="/rankings/impact-degree/cfn">Grado de Impacto</a></button>
        </div>
    </section>
</main>

<footer>
</footer>
{{{scripts}}}
</body>
</html>